
<%=ZFadmingui.Header%>
        <div class="span12">
          <div class="hero-unit">
              <h1>Config Coming Soon</h1>
              <p>Right now, no live dynamic config is available, but will be soon-ish. For now, check config.rb in base. Configs will include small stuff such as server name, guid, etc.</p> 
            </div>
 		</div>	
<%=ZFadmingui.Footer%>