<%=ZFadmingui.Header%>
        <div class="span12">
          <div class="hero-unit">
          	<h1>HALP!</h1>
          	<Br>
          	<h2>WTF is this Tool?</h2>
          	<p>ZackAttack! is a combination servers, clients, ruleset, and payload generator for relaying NTLM network auth requests. More details can be found at <a href="http://zfasel.com/ntlm">zfasel.com/ntlm</a></p>
          	<h2>xyz Isnt Working</h2>
          	<p>This tool is still HIGHLY ALPHA. There's next to no error output or logging. With that said, if you come across a problem, let me know and I'll do my best to figure out the issue / patch the code. There are some circumstances where stuff will just not work(i.e. smb signing), and in the future versions i'll try to include detection and notification of this instead of just failing</p>
          	<h2>I have a feature request!</h2>
          	<p>Awesome. Let me know about it or better yet, code it and i'll integrate it :).</p> 
              <h2>I Need More Help!</h2>
              <p>Honestly, There's no help right now. It's what you get for free. If you want to toss me redbull/vodka money on the other hand in return for some help / as a thank you....</p>
              <p>Email : dc20 [at] zfasel [dot] com / Twitter: @zfasel</p>
            </div>
 		</div>	
<%=ZFadmingui.Footer%>