
<%=ZFadmingui.Header%>
        <div class="span12">
          <div class="hero-unit">
              <h1>Coming Soon-ish</h1>
              <p>There are no quickrules written out yet, but will come soon. Think auto generation of common flows.</p>
            </div>
 		</div>	
<%=ZFadmingui.Footer%>